*{
    margin: 0;
}
header{
    border-bottom: 1px solid #000;
}
header img{
    width: 10rem;
    margin-left: 5%;
}
header .header{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 1%;
    align-items: center;
}
.header .navigate{
    margin-left: 20%;
}
header .header a{
    text-decoration: none;
    border: 1px solid #000;
    padding: 1%;
    color: black;
    margin-right: 2%;
}
/*Main elements*/
main h2{
    text-align: center;
}
main #banner-box{
    border-bottom: 1px solid #000;
    padding: 2%;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    
}
#banner-box img{
    grid-column: 2/3;
    width: 100%;
    border: 1px solid #000;
    padding: 2%;
}
main #details-box{
    border-bottom: 1px solid #000;
    padding: 2%;
    display: grid;
    
}
main #adventure-box{
    border-bottom: 1px solid #000;
    padding: 2%;
}
/*contact page elements*/
iframe{
    border: 0;
}
section{
    display: inline-block;
}
#employees{
    display: inline-flex;
}
#employees img{
    width: 10em;
}

.form {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    margin-top: 5%;
    border-top: 1px solid black;
    
}
input{
   font-size: 1.2em;
   margin-bottom: 1%; 
   margin-left: 2%;
   border: 2px solid transparent;
    border-bottom: 2px solid #8E94F2;
   
}
textarea{
    width: 20em;
    height: 5em;
    font-size: 1.3em;
    border: 2px solid transparent;
    border-bottom: 2px solid #8E94F2;
    margin-left: 2%;
}
button{
    font-size: 1.2em;
    background-color: #8E94F2;
    border: 2px solid transparent;
    border-bottom: 2px solid #8E94F2;
    color: white;
    border-radius: 10%/10%;
    margin-left: 15%;
    cursor: pointer;
    padding: 1%;
}
button:hover{
    transition: all 0.03s ease-in-out;
    box-shadow: 2px 2px 1px rebeccapurple;
}
/*Footer elements*/
footer{
    padding: 2%;
}
footer img{
    width: 5rem;
    height: auto;
    
}
footer p{
    text-align: center;
    
}
footer a{
    float: right;
    margin-right: 2%;
}
