header .header{
    align-items: center;
}
header img{
    width: 10rem;
    margin-left: 10%;
}
header nav a{
    text-decoration: none;
    float: right;
    margin-right: 2%;
}
h1, h2, h3, h4, h5, h5{
    font-family: 'roboto mono','nova mono';
}
main{
    text-align: center;
}
main #banner-box img{
    float: right;
    margin-left: 2%;
}

footer p{
    margin-left: 10%;
}

footer .social-links a{
    text-decoration: none;
    border-radius: 10%/10%;
    width: 4rem;
    float: right;
    margin-right: 2%;
}