h1, h2, h3, h4, h5, h5{
    font-family: 'roboto mono','nova mono';
}
main #banner-box img{
    float: right;
    margin-left: 2%;
}


footer{
    text-align: center;
    display: inline-flex;
}
footer .social-links a{
    text-decoration: none;
    border-radius: 10%/10%;
    width: 10px;
    float: right;
    margin-left: 2px;
}