*{
    margin: 0;
}
body{
    background-color: aliceblue;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 1.2px;
    font-size: 1.4em;
    margin-right: 3%;
    
}
nav{
    background-color: rgb(41, 53, 116);
    color: aliceblue;
    padding: 2%;
}
main .main{
    padding-left: 2%;
}

main img{ 
    grid-column: 1/2;
    grid-row: 1/1;
    width: 20%;
    
}


footer{
    margin-top: 2%;
    text-align: center;
    background-color: rgb(41, 53, 116);
    color: white;
    padding: 1%;
}
