*{
    margin: 0;
}

header nav{
    background-color: rgb(76, 98, 141);
    color: white;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
header .header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1%;
    padding: 2%;
}

main section .aside img{
    width: 200px;
    height: 200px;
}


footer{
    background-color: rgb(76, 98, 141) ;
    color: white;
    padding: 1%;
    text-align: center;
}
